@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Montserrat;
}

html, body {

    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
}

h2{

    font-size: xx-large;
    text-align: center;
    color: rgb(255, 45, 45);
    
}

li{

    color: rgb(255, 255, 255);
    font-weight: 500;

}

.btn{

    border-radius: 10px;
    border: none;
    background-color: rgb(255, 45, 45);
    color: rgb(20, 20, 20);
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    transition: background-color .5s;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.btn:hover{

    background-color: #ffffff;

}

.txtInput{

    padding: 5px;
    background-color: rgb(20, 20, 20);
    border: transparent;
    border-radius: 5px;
    color: rgb(255, 45, 45);
    width: 100%;
    font-weight: bold;

}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card img{

    display: block;
    text-align: center;
    border: 1px, solid, white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: 200px;

}

.card p{

    text-align: center;
    padding: 5px;
    
}
